*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: ghostwhite;
}

header{
  width: 100%;
  height: 200px;
  background-color: mediumspringgreen;     
  text-align: center;
  padding-top: 50px;
  box-sizing: border-box;
  font-size: 25px;
}

.explore{
  color: gray;
  text-decoration: none;
}

.bi-stars{
  color: yellow;
}

nav{
  width: 100%;
  background-color: gainsboro;
  box-sizing: border-box;
}

h4{
  font-family: 'Times New Roman', Times, serif;
}

nav > ul{
  width: 40%;
  margin-left: 20%;
}

ul>li{
  text-align: center;
  margin-left: 25px;
}

.cart-icon {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 320px;
  
  
}

#cart-count{
  background: red;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50%;
}
  
  
.carousel-inner
{
  width: 1060px;
  height:460px;
  margin-top: 50px;
  box-shadow: 0px 0px 5px black;
  border-radius: 25px;
  
}

.carousel-item > img{
  width: 500px;
  height: 200px;
  margin-top: 18px;
  margin-left: 18px;
  box-shadow: 0px 0px 5px black;
}

.myRow{ 
  width: 960px;
  margin: auto;
  height: auto;
  
}   

footer{
  width: 100%;
  height: 300px;
  background-color: rgb(28, 25, 25);
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 160px;
  box-sizing: border-box;
}

footer > img{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-top: 50px;  
}

.foot-h3{
  margin-left: 50px;
  margin-top: -40px;
  color: mediumspringgreen;
}

.foot-h1{
  margin-top: 50px;
  color: white;
}

.foot-p{
  font-size: 20px;
  color: gray;
}

.foot-img{
  width: 470px;
  height: 300px;
  margin-left: 60%;
  margin-top: -236px;
}

#flexOutput
{
  padding:0px;
}

#flexContainer 
{
  width:320px;
  height:350px;
  overflow-y:auto;
  position:fixed;
  top:0px;
  right:10px;
  z-index:3;
  display:flex;
  flex-direction:column;
}

#flexContainer div
{
  width:310px;
  height:180px;
  background-image:linear-gradient(to right bottom,orange,yellow);
  border:1px solid red;
  padding:20px;
  box-sizing:border-box;
}

#flexContainer #buttons 
{
  width:310px;
  height:50px;
  padding:0px;
}

#flexContainer h2
{
  text-align: center;
  color:red;
}

#flexContainer HR 
{
  margin-bottom:5px;
}

#flexContainer button 
{
  float:right;
  margin-right:10px;
}

#finalBill
{
	padding:0px;
	
	overflow-x:auto;
	border-radius:3%;
	box-sizing:border-box;
	
	overflow-y:auto;
	

    z-index:5;
    display:none;
width:550px;top:10px;left:350px;position:fixed;height:560px;	
	
}

#finalBill #bankInfo
{
	height:215px;
	overflow-x:auto;
	display:none;
	border:1px solid black;
	border-radius:3%;
	margin:auto;
  width:530px;
  padding:10px;
  box-sizing:border-box;
  position: fixed;
}

#bankInfo img
{
	width:30px;
	margin:auto auto auto 15px;
}


#finalBill #billTable
{
	
	
	overflow-x:auto;
	background-color:#870707;
	border-radius:3%;
  
    border:1px solid white;
   
    margin:auto;
width:530px;padding:30px;box-sizing:border-box;height:310px;overflow-y:auto;
    
}

#finalBill h2
{
	margin:auto;
	padding:0px;
	color:white;
	
}

#bankInfo input[type="text"]
{
	border-radius:4px;
	border:1px solid black;
}

#bankInfo input[type="password"]
{
	border-radius:4px;
}

.table-product-heading
{
	width:140px;
	height:50px;
	padding:20px;
	box-sizing:border-box;
	color:white;
	text-align:center;
}

.table-items-heading
{
	width:50px;
	height:50px;
	padding:20px;
	box-sizing:border-box;
	color:white;
	text-align:center;
}

.table-product-content
{
	width:140px;
	height:140px;
	padding:20px;
	box-sizing:border-box;
	text-align:center;
}

.table-product-items
{
	width:50px;
	height:140px;
	text-align:center;
	padding:20px;
	box-sizing:border-box;
	color:white;
}

.table-product-total
{
	width:70px;
	padding:20px;
	text-align:center;
	height:140px;
	box-sizing:border-box;
	color:white;
}

.table-total-heading
{
	width:70px;
	height:50px;
	padding:20px;
	box-sizing:border-box;
	color:white;
	text-align:center;
}

#billTable table
{
	width:310px;
	height:auto;
	margin:auto;
	border:1px solid white;
	border-collapse:collapse;
}
#billTable th,td
{
	color:white;
	border:1px solid white;
	font-weight:600;
}

#finalBill #buttons2
{
	
	overflow-x:auto;
	height:50px;
	
	box-sizing:border-box;
width:530px;padding:0px 10px 0px 10px;
	
}

#buttons2 #backToCart
{
	float:left;
	margin:0px auto 0px 10px;
	height:50px;
}

#buttons2 #pay
{
	float:right;
	margin:0px 10px 0px auto;
	height:50px;

}





